body {
    margin: 0;
    padding: 0;
}

table,
th,
td {
    width: 100px;
    height: 200px;
    border: 4px solid black;
    border-bottom: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 150px 100px;

}



/* td {
    border-radius: 2px;

} */